{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div class="mb-3">
        <h1>Welcome to Healthify</h1>
        <p> Healthify is a health and fitness website with the following features:</p>
        <ul class="list-group">
            <li class="list-group-item">&#128523 Calorie Calculation</li>
            <li class="list-group-item">&#129380 Daily Water Intake Calculator</li>
            <li class="list-group-item">&#127831 Food Nutrition Calculator</li>
            <li class="list-group-item">&#127858 Recipes</li>
        </ul>
    </div>
{% endblock %}
